<div class="container ">
    <form [formGroup]="booksForm" novalidate>
        <div class="row mt-5 justify-content-center">
            <div class="title col-sm-10 my-4 text-center">
                <h1>Livros Cadastrados</h1>
            </div>            
            <div class="col-sm-2 my-5">
                <a [routerLink]="'/cadastro/livro'">
                <button type="button" class="btn btn-outline-primary waves-effect"><span class="material-icons">
                    drive_file_rename_outline
                    </span>Cadastrar</button></a>
            </div>
        </div>
        <div class="container-fluid">
            <table class="table">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">Obra</th>
                        <th scope="col">Autor</th>
                    </tr>
                </thead>
            </table>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let livro of livros">
                    <mat-expansion-panel-header class="row justify-content-between">
                        <mat-panel-title class="col-8">
                            {{livro.titulo}}
                        </mat-panel-title>
                        <mat-panel-description class="col-8">
                            {{livro.autor}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row my-2">
                        <div class="col-lg-4">
                            <img class="img-fluid rounded" [src]="livro.capa_url">
                        </div>
                        <div class="col-lg-8 my-2">
                            <div class="row text-center align-middle">
                                <div class="col-md-3  rpi-attribute-content">
                                    <div class=" a-spacing-small a-text-center rpi-attribute-label">
                                        <span>Editora</span>
                                    </div>
                                    <div class=" a-spacing-small a-text-center">
                                        <span class="material-icons">
                                            apartment
                                        </span>
                                    </div>
                                    <div class=" a-spacing-none a-text-center rpi-attribute-value">
                                        <b><span>{{livro.editora}}</span></b>
                                    </div>
                                </div>
                                <div class="col-md-3  rpi-attribute-content">
                                    <div class="a-spacing-small a-text-center rpi-attribute-label">
                                        <span>Edição</span>
                                    </div>
                                    <div class=" a-spacing-small a-text-center">
                                        <span style="vertical-align:text-bottom; font-weight:bold"
                                            class="material-icons">#</span>

                                    </div>
                                    <div class=" a-spacing-none a-text-center rpi-attribute-value">
                                        <b><span>{{livro.edicao}}</span></b>
                                    </div>
                                </div>
                                <div class="col-md-3  rpi-attribute-content">
                                    <div class="a-spacing-small a-text-center rpi-attribute-label">
                                        <span>Idioma</span>
                                    </div>
                                    <div class=" a-spacing-small a-text-center">
                                        <span style="vertical-align:text-bottom; font-weight:bold"
                                            class="material-icons">g_translate</span>
                                    </div>
                                    <div class=" a-spacing-none a-text-center rpi-attribute-value">
                                        <b><span>{{livro.idioma}}</span></b>
                                    </div>
                                </div>
                                <div class="col-md-3  rpi-attribute-content">
                                    <div class="a-spacing-small a-text-center rpi-attribute-label">
                                        <span>Data de Publicação</span>
                                    </div>
                                    <div class=" a-spacing-small a-text-center">
                                        <span style="vertical-align:text-bottom; font-weight:bold"
                                            class="material-icons">date_range</span>
                                    </div>
                                    <div class=" a-spacing-none a-text-center rpi-attribute-value">
                                        <b><span>{{livro.data_publicacao | date: 'dd/MM/YYYY'}}</span></b>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12">
                                    <b><span>Sinopse:</span></b>
                                    {{livro.sinopse}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">

                    </div>
                    <div class="row">
                        <div class="col-auto mr-auto"></div>
                        <div class="col-auto">
                            <button class="btn btn-outline-primary ml-2" (click)="updateBook(livro.id)">Editar</button>
                            <button class="btn btn-outline-danger ml-2" (click)="deleteBook(livro.id)">Excluir</button>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </form>
</div>