<p>
    <mat-toolbar color="primary">
      <button mat-button [matMenuTriggerFor]="form">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #form="matMenu">
          <button mat-menu-item [routerLink]="''">Home</button>
        <button mat-menu-item [matMenuTriggerFor]="livros">Livros</button>
      </mat-menu>
      <mat-menu #livros="matMenu">
        <button mat-menu-item [routerLink]="'./cadastro/livro'">Cadastro</button>
        <button mat-menu-item [routerLink]="'./lista/livro'">Lista</button>
      </mat-menu>
      <span>Aktie Now</span>
      <span class="example-spacer"></span>
      <a style="color: white;" href="https://aktienow.com/" target="_blank">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="heart">
          <mat-icon>favorite</mat-icon>
        </button>
      </a>
    </mat-toolbar>
  </p>
  <div class="container">
    <router-outlet></router-outlet>
  </div>